
body {
    font-family: Arial, sans-serif;
    background-color: #3f8883; 
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.container {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0ebeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea, select, input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
}

#outputText {
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
    border: 1px solid black;
    padding: 10px;
}
